
{% extends "base.html" %}

{% block title %}PyWeek - add diary entry for {{ entry.name }}{% endblock %}

{% block scripts %}
    {% include "trumbowyg-scripts.html" %}
{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error, see below:</div>
{% endif %}

<p>
<b>Add Diary Entry</b>

<form class="form" method="post" action=".">

 {{ form.as_plain }}

    <br><input type="submit" name="save" value="Save">
</form>

</p>

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}

