{% extends "base.html" %}

{% block title %}PyWeek - Python Game Programming Challenge{% endblock %}

{% block content %}
<h2>All games produced during past PyWeeks</h2>
<table class="grid">
<tr><th>Game</th><th>Ch.</th><th>Rating</th><th>Team</th></tr>
{% for entry in all_games %}
<tr class="{% cycle "even" "odd" %}{% if entry.winner %} winner{% endif %}">
 <td valign="top"><a href="/e/{{ entry.entry_id }}/">{{ entry.game_name }}</a></td>
 <td valign="top"><a href="/{{ entry.challenge_num }}/">{{ entry.challenge_num }}</a></td>
 <td valign="top">{{ entry.rating }}</td>
 <td valign="top">{{ entry.team|safe}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}

