{% extends "base.html" %}

{% block title %}PyWeek Awards{% endblock %}

{% block content %}

<h1>The &ldquo;{{award.description}}&rdquo; Award</h1>


<img src="{{ award.content.url }}" /><br/>
<em>Presented by <a href="/u/{{award.creator}}">{{award.creator}}</a></em> to:
<p>
<table>
{% for entry in entries %}
<tr><th bgcolor="#eeeeee" colspan="2">
<a href="/e/{{ entry.name }}/">{{ entry.game }}</a> ({{ entry.title }})
</th></tr>
<tr><td valign="top">
{{ entry.description|safe }}
</td>
{% if entry.thumb %}
<td valign="top" align="right">
<a href="{{ entry.thumb.url }}"><img border="0" width="150" src="{{ entry.thumb.url }}-thumb.png"></a>
</td>
{% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}
