{% extends "base.html" %}

{% block title %}Diaries - {% autoescape off %}{{ challenge.title }}{% endautoescape %}{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}{% endblock %}

{% block content %}

<h2>{{ challenge.title }} challenge{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}</h2>

<ul class="nav nav-tabs">
    <li><a href="{{challenge.get_absolute_url}}">Timetable</a></li>
    <li class="active"><a href="/{{ challenge.number}}/diaries/">Diaries</a></li>
    <li><a href="/{{ challenge.number}}/entries">Entries</a></li>
    {% if challenge.isAllDone %}<li><a href="/{{ challenge.number}}/ratings/">Rankings</a></li>{% endif %}
</ul>

{% if page.object_list %}
{% for p in page.object_list %}
    <h3><a href="/e/{{ p.entry.name }}/">{{ p.entry.game }}</a> - {{ p.title }}</h3>
    <p>Posted by <a href="/u/{{ p.user.username }}/">{{ p.user }}</a> on {{ p.created|date:"Y/m/d H:i" }}</p>

    <div class="diary-content">
    {{ p.content|safe }}
    </div>

    <p class="view-comments">
        <a href="{{p.get_absolute_url}}">
            {% if not p.num_comments %}
                Add a comment
            {% else %}
                {{p.num_comments}} comment{{p.num_comments|pluralize}}
            {% endif %}
        </a>
    </p>
{% endfor %}

{% else %}
<p>There are no diary entries for this challenge at this time.</p>
{% endif %}

<div class="paginator">
    {% if page.has_next %}
        <a class="btn btn-default next-page" href="?page={{page.next_page_number}}">
            Older diary entries &rarr;
        </a>
    {% endif %}
    {% if page.has_previous %}
        <a class="btn btn-default previous-page" href="?page={{page.previous_page_number}}">
            &larr; Newer diary entries
        </a>
    {% endif %}
</div>

{% endblock %}

