{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<p><a href="/d/{{ diary.id }}/">Back to the entry</a></p>

<fieldset><legend>Entry Text</legend>{% autoescape off %}{{ diary.content }}{% endautoescape %}</fieldset>

<form class="form" method="post" action=".">
    {{ form.as_plain }}
    <br><input type="submit" value="Save Changes">
</form>

{% endblock %}
