{% extends "base.html" %}

{% block title %}{% autoescape off %}{{ challenge.title }}{% endautoescape %}{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}{% endblock %}

{% block content %}

<h1>{{ challenge.title }} challenge{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}</h1>

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Timetable</a></li>
    <li><a href="/{{ challenge.number}}/diaries/">Diaries</a></li>
    <li><a href="/{{ challenge.number}}/entries">Entries</a></li>
    {% if challenge.isAllDone %}<li><a href="/{{ challenge.number}}/ratings/">Rankings</a></li>{% endif %}
</ul>

{% if screenie %}
<div id="thumb" style="width: {{ screenie.thumb_width }}px">
<p><strong>Latest Screenshot</strong></p>
<a href="{{ screenie.url }}"><img src="{{ screenie.url }}-thumb.png"></a>
<p>{{ screenie.description }}</p>
</div>
{% endif %}

{% include "motd.html" %}

{% if open_polls %}
 <p>
 <strong>Polls:</strong><br>
 {% for poll in open_polls %}
 <a href="/p/{{ poll.id }}">{{ poll.title|escape }}</a><br>
 {% endfor %}
 {% for poll in closed_polls %}
 Closed: <a href="/p/{{ poll.id }}">{{ poll.title|escape }}</a><br>
 {% endfor %}
 </p>
{% endif %}

{% if all_done %}
<p>This challenge ran from {{ challenge.start }} to {{ challenge.end }}.</p>
{% else %}
<p>The dates of this challenge are are 00:00 UTC {{ challenge.start }}
to 00:00 UTC {{ challenge.end }}.</p>
{% endif %}

{% if not all_done %}
<table id="timetable">
<tr><th colspan="2">Timetable</th></tr>
{% autoescape off %}
{{ challenge.timetableHTML }}
{% endautoescape %}
</table>
{% endif %}

{% if recent_entryawards %}
  <p>Recent awards:</p>
  {% for entryaward in recent_entryawards %}
    <div class="award">
      <a href="/a/{{entryaward.award.id}}">
        <img src="{{ MEDIA_URL }}{{entryaward.content}}">
      </a>
      <br>
      <strong>{{entryaward.description|escape}}</strong><br>
      <em>Presented
        by <a href="/u/{{entryaward.creator}}">{{entryaward.creator}}</a>
        to <a href="/e/{{entryaward.entry.name}}">{{entryaward.entry.title|escape}}</a>
      </em>
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
