{% extends "base.html" %}

{% block title %}{% autoescape off %}{{ challenge.pageTitle }}{% endautoescape %} &mdash; entries{% endblock %}

{% block content %}
<h2>{{ challenge.title }} challenge{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}</h2>

<ul class="nav nav-tabs">
    <li><a href="{{challenge.get_absolute_url}}">Timetable</a></li>
    <li><a href="/{{ challenge.number}}/diaries/">Diaries</a></li>
    <li class="active"><a href="/{{ challenge.number}}/entries">Entries</a></li>
    {% if challenge.isAllDone %}<li><a href="/{{ challenge.number}}/ratings/">Rankings</a></li>{% endif %}
    {% if user_may_rate %}<li><a href="/{{ challenge.number }}/rating-dashboard">Rating Dashboard</a></li>{% endif %}
</ul>

<p style="float: right; color: #888">{{ entries|length }} entr{{entries|length|pluralize:"y,ies"}}</p>

{% if finished %}

{% if challenge.torrent_url %}
<p>Please use <a href="http://btfaq.com/">BitTorrent</a> to download all the games if
you can - the site hosts will appreciate it.
The torrent file is <A href="{{ challenge.torrent_url }}">here</a>.</p>
{% endif %}

{% endif %}

<div id="entries">
{% for entry in entries %}
<div class="entry clearfix">
{% if entry.thumb %}
<a href="{{ entry.thumb.content.url }}"><img border="0" width="150" src="{{ entry.thumb.content.url }}-thumb.png"></a>
{% endif %}
<div class="details">
<h3><a href="{{ entry.entry.get_absolute_url }}">{{ entry.game|default:entry.title }}</a>
  {% if entry.may_rate %}&mdash;
  {% if entry.has_rated %}<span style="color: green">rated</span>{% else %}<span style="color: red">not rated</span>{% endif %}
  {% endif %}
</h3>

{% if entry.files %}
<ul>
 {% for file in entry.files %}
  {% if file.is_final %}
  <li><a href="{{ file.content.url }}">{{ file.filename }}</a>
   &mdash; {{ file.description }}
   ({{ file.pretty_size }}
   on {{ file.created|date:"Y/m/d" }})</li>
  {% endif %}
 {% endfor %}
</ul>
{% endif %}

{% with entry.entry as e %}
{% if e.description %}{{ e.description|safe }}{% endif %}
<p>
  {% if e.is_team %}
  Team:
   {% for user in e.users.all %}
   <a href="{% url 'user_display' user.username %}">{{ user.username }}</a>{% if not forloop.last%}, {% endif %}
   {% endfor %}
  {% else %}
   Entrant: <a href="{% url 'user_display' e.user.username %}">{{ e.user.username }}</a>
  {% endif %}
  {% if e.is_open and e.challenge.isRegoOpen %}&emsp;(<a href="{{ e.get_absolute_url }}" title="Open Team">Join this team?</a>){% endif %}
  </p>
{% endwith %}
</div>
</div>
{% endfor %}

</div>
{% endblock %}
