{% extends "base.html" %}

{% block title %}Manage team membership{% endblock %}


{% block content %}
<h2>Open team requests</h2>

{% if requesters %}
<p>Below are users requesting to join your team.</p>


<form class="form" method="post" action=".">
<table class="grid">
{% for u in requesters %}
<tr>
    <td width="50%"><a href="/u/{{ u.username }}">{{ u.username }}</a></td>
    <td>
        <input
            type="radio"
            id="id_{{u.username}}_approve"
            name="user:{{ u.username }}"
            value="approve">
        <label for="id_{{u.username}}_approve">Approve</label>
    </td>
    <td>
        <input
            type="radio"
            id="id_{{u.username}}_reject"
            name="user:{{ u.username }}"
            value="reject">
        <label for="id_{{u.username}}_reject">Decline</label>
    </td>
    <td>
        <input
            type="radio"
            id="id_{{u.username}}_undecided"
            name="user:{{ u.username }}"
            value="">
        <label for="id_{{u.username}}_undecided">Undecided</label>
    </td>
</tr>
{% endfor %}
</table>

<input type="submit" value="Save Changes">
</form>
{% else %}
<p>You have no outstanding membership requests.</p>
{% endif %}

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}
