
{% extends "base.html" %}

{% block title %}PyWeek - {{ entry.title|escape }}{% endblock %}

{% block content %}
{% if thumb %}
<div id="latest-screenshot" style="width: {{ thumb.thumb_width }}px">
    <a href="{{ thumb.content.url }}"><img src="{{ thumb.content.url }}-thumb.png"></a>
    <br>{{ thumb.description }}
</div>
{% endif %}

<h2>{{entry.game|default:entry.title}}</h2>
<p class="byline">A
    {% with pyweek=entry.challenge.number %}
        <a href="/{{pyweek}}/">Pyweek {{pyweek}}</a>
    {% endwith %}
        entry by
    {% if entry.is_team %}<strong>{{entry.title}}</strong>
        ({% for user in entry.users.all %}<a href="{% url 'user_display' user.username %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
    {% else %}
        <a href="{% url 'user_display' entry.user.username %}">{{entry.user.username}}</a>
    {% endif %}
</p>

{% if entry.description %}
<div id="entry-description">
   {{ entry.description|safe }}
</div>
{% endif %}

{% if entry.github_repo %}
<p><a title="Github repository" id="github-link" href="https://github.com/{{ entry.github_repo }}">github.com/{{ entry.github_repo }}</a></p>
{% endif %}

{% if is_member and entry.group_url %}
<p>
    <strong>Group URL:</strong>
    <a href="{{ entry.group_url }}">{{ entry.group_url }}</a>
</p>
{% endif %}

{% if entry.is_open and not is_member and entry.challenge.isRegoOpen %}
<h3>Open team</h3>
<p>This team is accepting membership applications.</p>
<form action="" method="POST">
    {% if not user.is_authenticated %}
    <button disabled>Log in to join this team</button>
    {% elif join_requested %}
    <button disabled>Your membership request is pending</button>
    {% else %}
    <input type="hidden" name="action" value="join">
    <input type="submit" value="Request to join {{ entry.title }}">
    {% endif %}
</form>
{% endif %}

<h3>Awards</h3>
{% for award in awards %}
  <div class="award">
    <a href="/a/{{award.award.id}}">
      <img src="{{award.content.url}}">
    </a>
    <br>
    <strong>{{award.description|escape}}</strong><br>
    <em>Presented by <a href="/u/{{award.creator}}">{{award.creator}}</a></em>
  </div>
{% endfor %}

{% if not is_member %}
<p style="clear:left">
  <a href="/e/{{entry.name}}/give_award/">Give this entry an award</a>
</p>
{% endif %}

{% if rating %}
<h3>Scores</h3>
<p><strong>Ratings</strong> (<a href="/e/{{ entry.name }}/ratings/">show
detail</a>)</p>
<p style="margin-left: 1em;">
<strong>Overall</strong>: {{ rating.overall|floatformat }}<br >
<strong>Fun</strong>: {{ rating.fun|floatformat }}<br >
<strong>Production</strong>: {{ rating.production|floatformat }}<br >
<strong>Innovation</strong>: {{ rating.innovation|floatformat }}<br >
</p>
{% if rating.nonworking %}
<strong>{{ rating.dnwp }} respondents marked the game as not working.</strong><br >
{% endif %}
{% if rating.disqualify %}
<strong>{{ rating.dp }} of respondents wished to disqualify the entry.</strong><br >
{% endif %}
<strong>Respondents</strong>: {{ rating.respondents|floatformat }}<br >
{% endif %}

{% if form %}

<script>
$(function () {

    function show_ratings_detail() {
        var value = $('input:radio[name=nonworking]:checked').val();
        if (value != "False") {
            $('#ratings_detail').hide();
        } else {
            $('#ratings_detail').show();
        }
        if (value == "True") {
            $('#notworking_help').show();
        } else {
            $('#notworking_help').hide();
        }
    }

    show_ratings_detail();
    $('input:radio[name=nonworking]').change(show_ratings_detail);
});
</script>
<fieldset id="ratings">
<legend>Entry Rating</legend>
<p><strong>Be aware that your rating is published under your own username.</strong></p>
<form class="form" method="post" action=".">
<table cellspacing=0 cellpadding=0>

<tr{% if form.nonworking.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_nonworking">Did the entry work?</label></td>
 <td id="ratings_nonworking">{{ form.nonworking }}
  {% if form.nonworking.errors %}
   <p class="form-error">{{ form.nonworking.errors|join:", " }}</p>
  {% endif %}
 </td>
</tr>

</table>
<p id="notworking_help" style="clear: left;">
Please explain what happened, including how you ran the game and what
resulted from that (include a traceback if you got one).</p>
<table cellspacing=0 cellpadding=0 id="ratings_detail" style="margin-top: 1em">
 <tr{% if form.fun.errors %} class="form-error"{% endif %}>
  <td class="form-label"><label for="id_fun">Fun:</label></td>
  <td>{{ form.fun }}
   {% if form.fun.errors %}
    <p class="form-error">{{ form.fun.errors|join:", " }}</p>
   {% endif %}
   <p class="form-help">Consider: was this game fun to play. Would you want
   to come back and play it again?</p>
  </td>
 </tr>

 <tr{% if form.innovation.errors %} class="form-error"{% endif %}>
  <td class="form-label"><label for="id_innovation">Innovation:</label></td>
  <td>{{ form.innovation }}
   {% if form.innovation.errors %}
    <p class="form-error">{{ form.innovation.errors|join:", " }}</p>
   {% endif %}
   <p class="form-help">Consider: did this game break new ground in terms of
   gameplay, genre or approach?</p>
  </td>
 </tr>

 <tr{% if form.production.errors %} class="form-error"{% endif %}>
  <td class="form-label"><label for="id_production">Production:</label></td>
  <td>{{ form.production }}
   {% if form.production.errors %}
    <p class="form-error">{{ form.production.errors|join:", " }}</p>
   {% endif %}
   <p class="form-help">Consider: did the game have nice graphics? Did it
   include sound and music? Were these elements appropriate and balanced?</p>
  </td>
 </tr>

 <tr{% if form.disqualify.errors %} class="form-error"{% endif %}>
  <td class="form-label"><label for="id_disqualify">Disqualify Entry:</label></td>
  <td>{{ form.disqualify }}
   {% if form.disqualify.errors %}
    <p class="form-error">{{ form.disqualify.errors|join:", " }}</p>
   {% endif %}
   <p class="form-help">The entry clearly cheated or otherwise broke the rules
   of the challenge. You must explain your reasoning in the comments below.
 <br>
   <i>If you choose this option then the ratings you assign will still be
    counted in the entry's total.</i></p>
  </td>
 </tr>

</table>

<table cellspacing=0 cellpadding=0>
<tr{% if form.comment.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_comment">Comments:</label></td>
 <td>{{ form.comment }}
  {% if form.comment.errors %}
   <p class="form-error">{{ form.comment.errors|join:", " }}</p>
  {% endif %}
 </td>
</tr>

<tr><td></td><td>
<p>When rating each game, please consider it on its own merits. Don't try
to compare games.</p>
<input type="submit" value="Save Changes">
</td></tr>
</table>
</fieldset>
{% endif %}
</td>
</tr>
</table>


{% if files %}
<h3>Files</h3>
<table class="grid">
<tr>
    <th>File</th>
    <th>Uploader</th>
    <th>Date</th>
    {% if is_member %}<th>&nbsp;</th>{% endif %}
</tr>
 {% for file in files %}
  <tr class="{% cycle 'even' 'odd' %}"><td>
  <a href="{{ file.content.url }}">{{ file.filename }}</a>
  {% if file.is_final %}&mdash; <b>final</b>{% endif %}
  <br />{{ file.description }}
  </td>
  <td>{{ file.user }}</td>
  <td style="whitespace: pre">{{ file.created|date:"Y/m/d H:i" }}</td>
{% if is_member %}
  <td><a class="delete" href="/e/{{entry.name}}/delete/{{file.content.name}}">delete</a></td>
{% endif %}
</tr>
 {% endfor %}
</table>
{% endif %}


{% if diary_entries %}
<h2>Diary Entries</h2>
{% include "diary_entries.html" %}
{% endif %}

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}

