{% extends "base.html" %}

{% block title %}PyWeek - {{ entry.title|escape }}{% endblock %}

{% block scripts %}
    {% include "trumbowyg-scripts.html" %}
{% endblock %}

{% block content %}
<h1>PyWeek - {{ entry.title|escape }}</h1>

<p>This is the admin page for the entry {{ entry.title|escape }}. Here you may
change its name and membership list.</p>

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<b>Entry Profile</b>
<form class="form" method="post" action=".">

<div {% if form.title.errors %} class="form-error"{% endif %}>
	<label for="id_title">Team Title:</label><br>
 {{ form.title }}
  {% if form.title.errors %}
   <p class="form-error">{{ form.title.errors|join:", " }}</p>
  {% endif %}
</div>

<div {% if form.game.errors %} class="form-error"{% endif %}>
	<label for="id_game">Game Title:</label><br>
 {{ form.game }}
  {% if form.game.errors %}
   <p class="form-error">{{ form.game.errors|join:", " }}</p>
  {% endif %}
</div>

<div {% if form.description.errors %} class="form-error"{% endif %}>
	<label for="id_description">Description:</label><br>
 {{ form.description }}
  {% if form.description.errors %}
   <p class="form-error">{{ form.description.errors|join:", " }}</p>
  {% endif %}
</div>

<div {% if form.users.errors %} class="form-error"{% endif %}>
	<label for="id_users">Team Members:</label><br>
 {{ form.users }}
  {% if form.users.errors %}
   <p class="form-error">{{ form.users.errors|join:", " }}</p>
  {% endif %}
  <p class="form-help">Enter a comma-separated list of the member
  usernames.</p>
</div>

<input type="submit" value="Save Changes">

</form>

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}

{% block rightbar %}
<div id="rightbar">

<strong>Files:</strong><br />
 {% for file in files %}
  <a href="/p/{{ file.url }}">{{ file.filename }}</a>
  {% if not file.is_final %}-- final{% endif %}
  <br />
 {% endfor %}

</div>
{% endblock %}

