{% extends "base.html" %}

{% block title %}PyWeek - {{ entry.title|escape }}{% endblock %}

{% block scripts %}
    {% include "trumbowyg-scripts.html" %}
{% endblock %}

{% block content %}
<h2>Manage your entry</h2>

<p>This is the admin page for the entry {{ entry.title|escape }}. Here you may
change its name and membership list.</p>

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<form class="form" method="post" action=".">

    {{ form.as_p }}
    <input type="submit" value="Save Changes">
</form>

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}

{% block rightbar %}
<div id="rightbar">

<strong>Files:</strong><br />
 {% for file in files %}
  <a href="/p/{{ file.url }}">{{ file.filename }}</a>
  {% if not file.is_final %}-- final{% endif %}
  <br />
 {% endfor %}

</div>
{% endblock %}

