{% extends "base.html" %}

{% block title %}PyWeek - {{ entry.title|escape }}{% endblock %}

{% block content %}
<h1>PyWeek - {{ entry.title|escape }} - feedback</h1>


{% if entry.challenge.rules.ratings_public %}


{% for rating in entry.rating_set.all %}
<div class="user_rating">
    <div class="rating_scores">
        {% if rating.nonworking %}
            <span class="v">Did not work</span>
        {% else %}
            {% if rating.disqualify %}
                <span class="dq">Disqualify</span>
            {% endif %}
            <span class="k">Fun</span>
            <span class="v">{{ rating.fun }}</span>
            <span class="k">Prod</span>
            <span class="v">{{ rating.production }}</span>
            <span class="k">Inno</span>
            <span class="v">{{ rating.innovation }}</span>
        {% endif %}
    </div>
    <h4><a href="/u/{{rating.user.username}}">{{ rating.user.username }}</a></h4>

    <div class="comment">
    {{ rating.comment|linebreaks|urlize }}
    </div>
</div>
{% endfor %}

{% else %}
<table border="1" cellspacing="0">
<tr>
<th>Fun</th>
<th>Prod</th>
<th>Inno</th>
<th>Disq</th>
<th>N/W</th>
<th>Comments</th>
</tr>
{% for rating in entry.rating_set.all %}
<tr>
<td valign="top">{{ rating.fun }}</td>
<td valign="top">{{ rating.production }}</td>
<td valign="top">{{ rating.innovation }}</td>
<td valign="top">{{ rating.disqualify|yesno:"yes, " }}</td>
<td valign="top">{{ rating.nonworking|yesno:"yes, " }}</td>
<td valign="top">{{ rating.comment|linebreaks|urlize }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}
