{% extends "base.html" %}

{% block title %}PyWeek - Python Game Programming Challenge{% endblock %}

{% block leftbottom %}

{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
  </ol>
  -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(/static/carousel/hobots-ascent.jpg)">
      <div class="carousel-caption">
        Hobot's Ascent, Pyweek 28
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/souls-of-the-tower.jpg)">
      <div class="carousel-caption">
        Souls Of The Tower, Pyweek 28
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/snowcrafter.jpg)">
      <div class="carousel-caption">
        Snowcrafter, Pyweek 27
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/hexima.jpg)">
      <div class="carousel-caption">
        Hexima, Pyweek 27
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/dynamite-valley.jpg)">
      <div class="carousel-caption">
        Dynamite Valley, Pyweek 26
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/let-there-be-light.jpg)">
      <div class="carousel-caption">
        Let There Be Light, Pyweek 26
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/the-desert-and-the-sea.jpg)">
      <div class="carousel-caption">
        The Desert And The Sea, Pyweek 25
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/otherworlder.jpg)">
      <div class="carousel-caption">
        Otherworlder, Pyweek 25
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/my-sincerest-apologies.jpg)">
      <div class="carousel-caption">
        My Sincerest Apologies, Pyweek 24
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/hackerbot.jpg)">
      <div class="carousel-caption">
        Hackerbot, Pyweek 24
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/a-knight-of-curses.jpg)">
      <div class="carousel-caption">
        A Knight of Curses, Pyweek 23
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/the-final-choice.jpg)">
      <div class="carousel-caption">
        The Final Choice, Pyweek 23
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/breach.jpg)">
      <div class="carousel-caption">
        Breach, Pyweek 22
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/beneath-the-ice.jpg)">
      <div class="carousel-caption">
        Beneath The Ice, Pyweek 22
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/pentominos-pizza.jpg)">
      <div class="carousel-caption">
        Pentomino's Pizza, Pyweek 21
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/invisispin.jpg)">
      <div class="carousel-caption">
        Invisispin, Pyweek 20
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/legend-of-goblit.jpg)">
      <div class="carousel-caption">
        Legend of Goblit, Pyweek 19
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/nellys-rooftop-garden.jpg)">
      <div class="carousel-caption">
        Nelly's Rooftop Garden, Pyweek 2
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" style="margin-top: 20px; max-width: 970px">
  <div class="row">
    <div class="col-md-6">

<p>Welcome to <strong>PyWeek</strong>, a bi-annual
<a href="https://en.wikipedia.org/wiki/Game_jam">game jam</a> to write games in
<a href="https://www.python.org/">Python</a>.
</p>

<p>The PyWeek challenge:</p>
<ol>
<li>Invites entrants to write a game in one week from scratch
  either as an individual or in a team,</li>
<li>Is intended to be challenging and fun,</li>
<li>Will hopefully increase the public body of game tools, code and
    expertise,</li>
<li>Will let a lot of people actually finish a game, and</li>
<li>May inspire new projects (with ready made teams!)</li>
</ol>

<p>
Entries must be developed in Python during the challenge, and must
incorporate some theme decided at the start of the challenge. See the <a
href="https://pyweek.readthedocs.io/en/latest/rules.html">challenge rules</a> for more information.
</p>
    </div>
    <div class="col-md-6">
        {% include "motd.html" %}

        <div style="background-color: #7289DA; margin: 1em 0; padding: 1em 1em 0.8em; border-radius: 6px; color: white">

            <a href="https://discord.gg/python">
            <img src="{{STATIC_URL}}/python-discord.png" alt="Python Discord"
                style="float: left; margin: -5px 0 0 -8px"
            >
            </a>
            <p><a
                href="https://discord.gg/python"
                style="color: white; text-decoration: underline"
                >
                Join us in Discord</a>
            and head to the <tt>#pyweek</tt> channel to chat with other
            PyWeekers!</p>
        </div>
    </div>
  </div>
</div>


<div id="footer" style="width: auto">
Contact &lt;daniel@pyweek.org&gt; with any enquiries.
Site <A href="https://pyweek.readthedocs.io/en/latest/conditions.html">conditions of use</A>.
Hosting thanks to <A href="http://tummy.com/">tummy.com</A>.<BR>
Site developed in <A href="http://www.python.org/">Python</A>
using <A href="http://www.djangoproject.com/">Django</A> and
<a href="https://github.com/pyweekorg/pyweekorg">GitHub</a>.
</div>

{% endblock %}

