{% extends "base.html" %}

{% block title %}PyWeek - Python Game Programming Challenge{% endblock %}

{% block leftbottom %}

{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
  </ol>
  -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(/static/carousel/dynamite-valley.jpg)">
      <div class="carousel-caption">
        Dynamite Valley, Pyweek 26
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/let-there-be-light.jpg)">
      <div class="carousel-caption">
        Let There Be Light, Pyweek 26
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/the-desert-and-the-sea.jpg)">
      <div class="carousel-caption">
        The Desert And The Sea, Pyweek 25
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/otherworlder.jpg)">
      <div class="carousel-caption">
        Otherworlder, Pyweek 25
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/my-sincerest-apologies.jpg)">
      <div class="carousel-caption">
        My Sincerest Apologies, Pyweek 24
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/hackerbot.jpg)">
      <div class="carousel-caption">
        Hackerbot, Pyweek 24
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/a-knight-of-curses.jpg)">
      <div class="carousel-caption">
        A Knight of Curses, Pyweek 23
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/the-final-choice.jpg)">
      <div class="carousel-caption">
        The Final Choice, Pyweek 23
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/breach.jpg)">
      <div class="carousel-caption">
        Breach, Pyweek 22
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/beneath-the-ice.jpg)">
      <div class="carousel-caption">
        Beneath The Ice, Pyweek 22
      </div>
    </div>
    <div class="item" style="background-image: url(/static/carousel/pentominos-pizza.jpg)">
      <div class="carousel-caption">
        Pentomino's Pizza, Pyweek 21
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/invisispin.jpg)">
      <div class="carousel-caption">
        Invisispin, Pyweek 20
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/legend-of-goblit.jpg)">
      <div class="carousel-caption">
        Legend of Goblit, Pyweek 19
      </div>
    </div>

    <div class="item" style="background-image: url(/static/carousel/nellys-rooftop-garden.jpg)">
      <div class="carousel-caption">
        Nelly's Rooftop Garden, Pyweek 2
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% include "motd.html" %}

<p>The PyWeek challenge:</p>
<ol>
<li>Invites entrants to write a game in one week from scratch
  either as an individual or in a team,</li>
<li>Is intended to be challenging and fun,</li>
<li>Will hopefully increase the public body of game tools, code and
    expertise,</li>
<li>Will let a lot of people actually finish a game, and</li>
<li>May inspire new projects (with ready made teams!)</li>
</ol>

<!--
<p>
<a href="/e/xasm_pw6/" title="invention"><img width="120" border="0" alt="invention" src="/media/dl/6/xasm_pw6/screenshot0.jpg-thumb.png"></a>
<a href="/e/eevee_evolution/" title="Robot Underground"><img width="120" border="0" alt="Robot Underground" src="/media/dl/6/eevee_evolution/screenshot4.png-thumb.png"></a>
<a href="/e/TTTT/" title="Disk Field"><img width="120" border="0" alt="Disk Field" src="/media/dl/5/TTTT/Shot4.png-thumb.png"></a>
<a href="/e/psyduck_revenge/" title="Wound Up!"><img width="120" border="0" alt="Wound
Up!" src="/media/dl/5/psyduck_revenge/Picture%202.png-thumb.png"></a>
<a href="/e/Hectic/" title="Which was is up?"><img width="120" border="0" alt="Which way is up?" src="/media/dl/4/Hectic/screenshot3.jpg-thumb.png"></a>
<a href="/e/toba4/" title="Barbie Seahorse Adventures"><img width="120" border="0" alt="Barbie Seahorse Adventures" src="/media/dl/4/toba4/shot5.png-thumb.png"></a>
<a href="/e/bouncy/" title="Bouncy the Hungry Rabbit"><img width="120" border="0" alt="Bouncy the Hungry Rabbit" src="/media/dl/3/bouncy/final.jpg-thumb.png"></a>
<a href="/e/PyAr2/" title="Typus Pocus"><img width="120" border="0" alt="Typus Pocus" src="/media/dl/3/PyAr2/pocus2.png-thumb.png"></a>
<a href="/e/rushed/" title="Nelly's Rooftop Garden"><img width="120" border="0" alt="Nelly's Rooftop Garden" src="/media/dl/2/rushed/sc9.png-thumb.png"></a>
<a href="/e/Pekuja/" title="Trip on the Funny Boat"><img width="120" border="0" alt="Trip on the Funny Boat" src="/media/dl/2/Pekuja/funnyboat-final.png-thumb.png"></a>
</p>
-->
<p>
Entries must be developed in Python during the challenge, and must
incorporate some theme decided at the start of the challenge. See the <a
href="{{ STATIC_URL }}rules.html">challenge rules</a> for more information.
</p>

<div id="footer" style="width: auto">
Contact &lt;daniel@pyweek.org&gt; with any enquiries.
Site <A href="{{ STATIC_URL }}conditions.html">conditions of use</A>.
Hosting thanks to <A href="http://tummy.com/">tummy.com</A>.<BR>
Site developed in <A href="http://www.python.org/">Python</A>
using <A href="http://www.djangoproject.com/">Django {{django_version}}</A> and
<a href="https://github.com/pyweekorg/pyweekorg">GitHub</a>.
</div>

{% endblock %}

