{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<table width="100%" cellspacing=0 cellpadding=2 border=0>
    <tr>
        <th style="border: thin solid #e0e0e0"><a
                href="/profile/"><strong>User Profile</strong></a></th>
        <th bgcolor="#e0e0e0"><strong>User Description</strong></th>
        <th style="border: thin solid #e0e0e0"><a
                href="/u/{{ user.username }}"><strong>View Your Profile</strong></a></th>
        <th>&nbsp;</th>
    </tr>
    <tr><td colspan="3" bgcolor="#e0e0e0">
<form class="form" method="post" action=".">

<dl>
 {% for field in form %}
   <dt>{{ field.label_tag }}</dt>
   <dd>{{ field }}</dd>
   {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
   {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
 {% endfor %}
</dl>
<input type="submit" value="Save Changes">

</form>
</td></tr></table>

{% endblock %}
