{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block scripts %}
    {% include "trumbowyg-scripts.html" %}
{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<ul class="nav nav-tabs">
    <li><a href="/profile/">User Profile</a></li>
    <li class="active"><a>User Description</a></li>
    <li><a href="/u/{{ user.username }}">View Your Profile</a></li>
</ul>

<form class="form" method="post" action=".">

<dl>
 {% for field in form %}
   <dt>{{ field.label_tag }}</dt>
   <dd>{{ field }}</dd>
   {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
   {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
 {% endfor %}
</dl>
<input type="submit" value="Save Changes">
</form>

{% endblock %}
