{% extends "base.html" %}

{% block title %}{% autoescape off %}{{ challenge.pageTitle }}{% endautoescape %} &mdash; results{% endblock %}

{% block content %}
<h2>{{ challenge.title }} challenge{% if challenge.theme %}: &ldquo;{{challenge.theme}}&rdquo;{% endif %}</h2>

<ul class="nav nav-tabs">
    <li><a href="{{challenge.get_absolute_url}}">Timetable</a></li>
    <li><a href="/{{ challenge.number}}/diaries/">Diaries</a></li>
    <li><a href="/{{ challenge.number}}/entries">Entries</a></li>
    <li class="active"><a href="/{{ challenge.number}}/ratings/">Rankings</a></li>
</ul>

<table id="top-entries">
<tr>
  <th colspan="4">Top Individual Entries</th>
</tr>
<tr>
  <th>Overall</th>
  <th>Fun</th>
  <th>Innovation</th>
  <th>Production</th>
</tr>
<tr>
  <td>
    {% for rating in individual_overall %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.overall|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br />
    {% endfor %}
  </td>
  <td>
    {% for rating in individual_fun %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.fun|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
  <td>
    {% for rating in individual_inno %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.innovation|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
  <td>
    {% for rating in individual_prod %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.production|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
</tr>
<tr>
  <th colspan="4" style="padding-top: 1em;">Top Team Entries</th>
</tr>
<tr>
  <th>Overall</th>
  <th>Fun</th>
  <th>Innovation</th>
  <th>Production</th>
</tr>
<tr>
  <td>
    {% for rating in team_overall %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.overall|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
  <td>
    {% for rating in team_fun %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.fun|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
  <td>
    {% for rating in team_inno %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.innovation|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
  <td>
    {% for rating in team_prod %}
    <span class="prize {% cycle "gold" "silver" "bronze" %}">{{ rating.production|floatformat:2  }}</span> <a href="/e/{{ rating.entry.name }}/" title="{{ rating.entry.title }}">{{ rating.entry.game }}</a><br/>
    {% endfor %}
  </td>
</tr>
</table>

<table class="grid">
<tr><th class="section" colspan="9">Individual Entries</th></tr>
<tr><th>Entry</th><th>By</th><th>Overall</th><th>Fun</th><th>Inno</th><th>Prod</th><th>Ents</th><th>DNW</th><th>DQ</th></tr>
{% for rating in individual_ratings %}
 <tr class="{% cycle "even" "odd" %}">
  <td>
   <a href="/e/{{ rating.entry.name }}/">
        {{rating.entry.game|default:rating.entry.title}}
   </a>
  </td>
  <td>
   <a href="/u/{{ rating.entry.user }}/">{{ rating.entry.user }}</a>
  </td>
  <td>{{ rating.overall|floatformat:2 }}</td>
  <td>{{ rating.fun }}</td>
  <td>{{ rating.innovation }}</td>
  <td>{{ rating.production }}</td>
  <td>{{ rating.respondents }}</td>
  <td>{{ rating.nonworking }}%</td>
  <td>{{ rating.disqualify }}%</td>
 </tr>
{% endfor %}

<tr><th class="section" colspan="9">Team Entries</th></tr>
<tr><th>Entry</th><th>By</th><th>Overall</th><th>Fun</th><th>Inno</th><th>Prod</th><th>Ents</th><th>DNW</th><th>DQ</th></tr>
{% for rating in team_ratings %}
 <tr class="{% cycle "even" "odd" %}">
  <td>
   <a href="/e/{{ rating.entry.name }}/">
        {{rating.entry.game|default:rating.entry.title}}
   </a>
  </td>
  <td>
   {{rating.entry.title}}
  </td>
  <td>{{ rating.overall|floatformat:2 }}</td>
  <td>{{ rating.fun }}</td>
  <td>{{ rating.innovation }}</td>
  <td>{{ rating.production }}</td>
  <td>{{ rating.respondents }}</td>
  <td>{{ rating.nonworking }}%</td>
  <td>{{ rating.disqualify }}%</td>
 </tr>
{% endfor %}

</table>

<p>The column headings are:</p>
<dl>
<dt>Overall (average score)</dt>
<dd>This is the score used to rank the entries and is the average of the scores (Fun, Inno, Prod).</dd>
<dt>Fun</dt>
<dd>Was this game fun to play. Would you want to come back and play it again?
</dd>
<dt>Inno (innovation)</dt>
<dd>Did this game break new ground in terms of
  gameplay, genre or approach?
</dd>
<dt>Prod (production)</dt>
<dd>Did the game have nice graphics? Did it
  include sound and music? Were these elements appropriate and balanced?</dd>
<dt>Ents</dt>
<dd>The number of participants (users) who rated this entry.</dd>
<dt>DNW</dt>
<dd>The percentage of participants (users) who rated this game and couldn't get the game to run.</dd>
<dt>DQ</dt>
<dd>The percentage of total participants (users from finishing entries) who thought the entry broke the challenge <a href="{{ STATIC_URL }}rules.html">rules</a>. </dd>
</dl>

<h3>Polls</h3>
<ul>
{% for poll in polls %}
<li>
 <a href="/p/{{ poll.id }}">{{ poll.title|escape }}</a>
 {% if not poll.is_open %}-- closed{% endif %}
</li>
{% endfor %}
</ul>


{% endblock %}
