{% extends "base.html" %}

{% block title %}PyWeek - {{ profile_user }}{% endblock %}

{% block leftbar %}
{% endblock %}


{% block content %}

<h2>{{ profile_user }}</h2>

{{profile_user.userprofile_set.all.0.content|safe }}

{% if user.is_staff %}
<form action="/u/{{ profile_user.username }}/delete_spam" method="POST">
  <input type="submit" value="Delete Spammer">
  <input type="checkbox" name="confirm">
</form>
{% endif %}

<h3>{{profile_user}}'s entries</h3>
<table class="grid auto">
    <tr><th>PyWeek</th><th>Game</th><th>Team</th><th>Rating</th></tr>
{% for entry in entries %}
<tr class="{% cycle 'even' 'odd' %}">
    <td align="center">{{ entry.challenge.number }}</td>
    <td><a href="/e/{{ entry.name }}/">{{ entry.game|default:entry.title }}</a></td>
    <td>{% if entry.is_team %}{{ entry.title }}{% endif %}</td>
    <td>{% if entry.challenge.isCompFinished %}{% if entry.has_final %}{{ entry.ratingtally_set.all.0.overall }}{% else %}DNF{% endif %}{% endif %}</td>
</tr>
{% endfor %}
</table>

{% if received_awards %}
    <h3>{{profile_user}}'s awards</h3>
  {% for entryaward in received_awards %}
    <div class="award">
      <a href="/a/{{entryaward.award.id}}">
          <img src="{{ MEDIA_URL }}{{entryaward.award.content}}">
      </a>
      <br/>
      <strong>{{entryaward.description|escape}}</strong>
      <em>Presented
        by <a href="/u/{{entryaward.creator}}">{{entryaward.creator}}</a>
        for <a href="/e/{{entryaward.entry.name}}">{{entryaward.entry.game}}</a>
       </em>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
