{% extends "base.html" %}
{% load gravatar %}

{% block title %}PyWeek - {{ profile_user }}{% endblock %}

{% block leftbar %}
{% endblock %}


{% block content %}


<h2>{% gravatar profile_user.email %} {{ profile_user }}</h2>

{% if profile.twitter_username %}
<p><a title="Twitter account" id="twitter-link" href="https://twitter.com/{{ profile.twitter_username }}">@{{ profile.twitter_username }}</a></p>
{% endif %}
{% if profile.github_username %}
<p><a title="Github account" id="github-link" href="https://github.com/{{ profile.github_username }}">github.com/{{ profile.github_username }}</a></p>
{% endif %}


{% if possible_spammer and user.is_staff and not profile_user.is_staff %}
<a href="/admin/auth/user/{{ profile_user.id }}/delete/">Delete spammer</a>
{% endif %}

{% if profile.content %}
<article id="bio">
{{profile.content|safe }}
</article>
{% endif %}

<h3>Entries</h3>
<table class="grid auto">
    <tr>
        <th>PyWeek</th>
        <th style="width: 20em">Game</th>
        <th style="width: 15em">Team</th>
        <th>Rating</th>
    </tr>
{% for entry in entries %}
<tr>
    <td align="center">{{ entry.challenge.number }}</td>
    <td><a href="/e/{{ entry.name }}/">{{ entry.game|default:entry.title }}</a></td>
    <td>{% if entry.is_team %}{{ entry.title }}{% endif %}</td>
    <td>
        <span class="prize {% if entry.winner %}gold{% endif %}">
        {% if entry.challenge.isCompFinished %}{% if entry.has_final %}{{ entry.ratingtally_set.all.0.overall }}{% else %}DNF{% endif %}{% endif %}</td>
        </span>
</tr>
{% endfor %}
</table>

{% if received_awards %}
    <h3>{{profile_user}}'s awards</h3>
  {% for entryaward in received_awards %}
    <div class="award">
      <a href="/a/{{entryaward.award.id}}">
          <img src="{{ entryaward.award.content.url }}">
      </a>
      <br/>
      <strong>{{entryaward.description|escape}}</strong>
      <em>Presented
        by <a href="/u/{{entryaward.creator}}">{{entryaward.creator}}</a>
        for <a href="/e/{{entryaward.entry.name}}">{{entryaward.entry.game}}</a>
       </em>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
