{% extends "base.html" %}

{% block title %}Login Form{% endblock %}

{% block content %}

<fieldset>
    <legend>Login Form</legend>
    <form class="form" method="post" action="/login/">
        <input type="hidden" name="next" value="{{next}}">
        {{form.as_p}}
        <input type="submit" value="Log in">
        <p class="form-help">
            By logging in you are agreeing to the PyWeek
            <a href="https://pyweek.readthedocs.io/en/latest/conditions.html">conditions of use</a>.
        </p>
    </form>
</fieldset>

<fieldset>
    <legend>Account recovery</legend>
    <p>If you've forgotten your login details, just enter your
    username or e-mail address below and we'll send you an e-mail with
    instructions to reset.</p>

    <form class="form" method="post" action="/resetpw/">
        <p>
            <label for="#id_reset">Username/Email:</label>
            <input id="id_reset" type="text" name="username_email" width="30"/>
            <input type="submit" value="Request reset instructions" />
        </p>
        {% if reset_error %}
        <p class="form-error">{{ reset_error }}</p>
        {% endif %}
    </form>
</fieldset>

{% endblock %}

