{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<ul class="nav nav-tabs">
    <li class="active"><a>User Profile</a></li>
    <li><a href="/profile_description/">User Description</a></li>
    <li><a href="/u/{{ user.username }}">View Your Profile</a></li>
</ul>

<form class="form" method="post" action=".">
    <section>
        <h3>Preferences</h3>
        {% for field in profile_form %}
        <p>{{ field }} <label class="option" for="{{ field.auto_id }}">{{ field.help_text }}</label></p>
        {{ field.errors }}
        {% endfor %}
    </section>

    <section>
        <h3>Change Password</h3>
        {{password_form.as_p}}
    </section>

    <section>
        <h3>E-mail addresses</h3>
        <table id="email-addresses">
        {% for addr in addresses %}
            <tr>
                <td>{{ addr.address }}</td>
                <td>
                    {% if addr.is_primary %}
                    <span class="label label-default">
                        Primary
                    </span>
                    {% endif %}

                    {% if not addr.verified %}
                    <span class="label label-warning">
                        Not verified
                    </span>
                    {% endif %}
                </td>
                <td>
                    {% if not addr.is_primary %}
                    <button name="make-primary" value="{{ addr.address }}">
                        Make primary
                    </button>
                    <button name="delete" value="{{ addr.address }}">
                        Delete
                    </button>
                    {% endif %}

                    {% if not addr.verified %}
                    <button name="resend-verification" value="{{ addr.address }}">
                        Resend verification
                    </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h4>Add a new address:</h4>
    {{ address_form.as_p }}

    </section>

    <input type="submit" value="Save Changes">
    <input type="hidden" name="next" value="{{ next|urlencode }}">
</form>

{% endblock %}
