{% extends "base.html" %}
{% load recaptcha2 %}

{% block title %}Registration Form{% endblock %}

{% block scripts %}
    {% recaptcha_init %}
{% endblock %}

{% block content %}

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error</div>
{% endif %}

<p>By signing up to this challenge, you agree to its
<a href="{{ STATIC_URL }}conditions.html">conditions of use</a>.</p>

<fieldset>
<legend>Registration Form</legend>
<form class="form" method="post" action=".">
<table>

<tr{% if form.name.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_username">Username:</label></td>
 <td>{{ form.name }}
  {% if form.name.errors %}
   <p class="form-error">{{ form.name.errors|join:", " }}</p>
  {% endif %}
 </td>
</tr>

<tr{% if form.email.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_email">Email:</label></td>
 <td>{{ form.email }}
  {% if form.email.errors %}
   <p class="form-error">{{ form.email.errors|join:", " }}</p>
  {% endif %}
<p style="padding: 0.3em 0; font-size: 90%;">
The e-mail address you provide will be used to send you notifications about
Pyweek events and will not be shared with third parties.
</p>
 </td>
</tr>

<tr{% if form.password.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_password">Password:</label></td>
 <td>{{ form.password }}
  {% if form.password.errors %}
   <p class="form-error">{{ form.password.errors|join:", " }}</p>
  {% endif %}
 </td>
</tr>

<tr{% if form.again.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_again">Again:</label></td>
 <td>{{ form.again }}
  {% if form.again.errors %}
   <p class="form-error">{{ form.again.errors|join:", " }}</p>
  {% endif %}
</td>
</tr>

<tr{% if form.captcha.errors %} class="form-error"{% endif %}>
 <td class="form-label"><label for="id_again">Verification:</label></td>
 <td>
 <p>(As of 2018-03-31 this is broken; please just type something in the box).
 {{ form.captcha }}
  {% if form.captcha.errors %}
   <p class="form-error">{{ form.captcha.errors|join:", " }}</p>
  {% endif %}
</td>
</tr>

<tr><td></td><td>
<input type="submit" value="Register">
</td></tr>
</table>

<input type="hidden" name="next" value="{{ next|urlencode }}">
</form>
</fieldset>

{% endblock %}
