{{ body_html|safe }}

<br/>
<br/>
<table bgcolor="#eeeeee" border="0" cellpadding="8" width="100%">
    <tr>
        <td width="250" align="center">
            <a id="logo" href="https://pyweek.org/"><img src="https://pyweek.org/static/pyweek-new.png" alt="pyweek" height="50"></a>
        </td>
        <td align="right">
            <p>You are receiving this email {{ reason|safe }}</p>
            <p><a href="https://pyweek.org/emails/unsubscribe?token=%%UNSUBSCRIBE_TOKEN%%">Unsubscribe</a></p>
        </td>
        <td width="5"></td>
    </tr>
</table>
