{% extends 'mail/draftemail_base.html' %}

{% block nav %}
<a href="{% url 'preview-email-text' object.id %}">View as text</a>
{% endblock %}

{% block content %}
            {{ object.body|safe }}

            <footer>
                <a id="logo" href="https://pyweek.org/"><img src="https://pyweek.org/static/pyweek-new.png" alt="pyweek"></a>
                <p>You are receiving this email {{ object.list_reason|safe }}</p>
                <p>Please <a href="https://pyweek.org/profile/">update your e-mail settings</a> if you do not wish to receive these notifications.</p>

            </footer>
{% endblock %}
