<!DOCTYPE html>
<html>
    <head>
        <title>{{ object.subject }}</title>
<style>
nav {
    font-family: sans-serif;
    background-color: #eee;
    border-bottom: solid #ccc 1px;

    height: 1.4em;
    line-height: 1.4em;
    padding: 0.6em;
}

nav a {
    margin-right: 0.6em;
}

nav form {
    float: right;
}

body {
    margin: 0;
}

article {
    width: 960px;
    margin: 0 auto;
}

{% include 'mail/admin_email_styles.css' %}
</style>
    </head>
    <body>
        <nav>
            <a href="{% url 'draft-emails' %}">Back to e-mails</a>
            <a href="{% url 'edit-email' object.pk %}">Edit</a>
            {% block nav %}{% endblock %}
            <form action="{% url 'send-email' object.pk %}" method="post">
            {% csrf_token %}
            <button>Send</button>
            </form>
        </nav>
        <article>
            <p><strong>To:</strong> &lt;{{ object.list_title }} ({{ object.recipients.count }} recipients)&gt;</p>

            <h1>{{ object.full_subject }}</h1>

            {% block content %}
            {% endblock %}
        </article>
    </body>
</html>
