<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="{{ STATIC_URL }}challenge.css" type="text/css">
    <link rel="alternate" type="application/rss+xml"
       title="PyWeek Diaries RSS feed" href="{% url "diary_feed" %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js"></script>

    <link rel="shortcut icon" href="/static/favicon.ico">

       <script src="{{ STATIC_URL }}js/challenge.js" type="text/javascript"></script>
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script>
jQuery(function ($) {
    $('a[data-toggle=tooltip]').tooltip();
});
    </script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><a href="/"></a>
      <a class="navbar-brand" href="/"><img id="logo" alt="Pyweek" src="{{ STATIC_URL }}pyweek-small.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li>
            <a href="{{latest.get_absolute_url}}" title="{{ latest.summary }}"
                data-toggle="tooltip" data-placement="bottom">
                    {% if not latest.isCompStarted %}
                        Next Challenge
                    {% elif latest.isCompStarted and not latest.isAllDone %}
                        Current Challenge
                    {% else %}
                        Last Challenge
                     {% endif %}
                </a>
            </li>
            <li><a href="/all_games/">Games</a></li>
            <li><a href="/messages/">Discussion</a></li>
            <li><a href="/s/rules">Rules</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated  %}
        <li><a href="/login/?next={{request.get_full_path|urlencode}}">Log in</a></li>
        {% if latest.isRegoOpen %}
            <li><a href="/register/">Register</a></li>
        {% endif %}
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/profile/">Your Account</a></li>

           {% if challenge %}
            {% if not challenge.isCompFinished %}
             <li><a href="/{{ challenge.number }}/entry_add/">Register Entry</a></li>
            {% endif %}
           {% endif %}

           {% if user_entries %}
            <li><strong>Your Entries:</strong></li>
            {% for e in user_entries %}
              <li><a href="/e/{{e.name}}/">{{e.challenge_id}}) {{e.name}}</a></li>
            {% endfor %}
           {% endif %}
            <li class="divider"></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
          {% endif %}
        </li>
        <li><a href="/s/help">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--
         <ul>
            <li><strong><a href="/{{ latest.number }}/">{{ latest.title|escape }}</a></strong></li>
            {% if user.is_authenticated  %}
             {% if not latest.isCompFinished %}
              <li><a href="/{{ latest.number }}/entry_add/">Register Entry</a></li>
             {% endif %}
             {% if latest.theme_poll and not latest.theme_poll.is_hidden %}
              {% if latest.theme_poll.is_open %}
               <li><a href="/p/{{ latest.theme_poll.id }}/">Vote for the Theme</a></li>
              {% else %}
               <li><a href="/p/{{ latest.theme_poll.id }}/">Theme Poll</a></li>
              {% endif %}
             {% endif %}
            {% else %}
             {% if latest.isRegoOpen %}
              <li><a href="/register/">Register</a></li>
             {% endif %}
            {% endif %}
           <li><a href="/{{ latest.number }}/entries/">Entries</a></li>
         </ul>
    </li>

    <li class="headlink">
       <a href="/all_games/">Previous Challenges</a>
       <ul>
          <li><a href="/all_games/">All Games</a></li>
          {% for one in all reversed %}
             <li><a title="{{ one.title|escape }}" href="/{{ one.number }}/">{{ one.start|date:"F Y" }}</a></li>
          {% endfor %}
          <li><a href="{{ STATIC_URL }}pygame.draw-0606.html">June 2006 (mini)</a></li>
          <li><a href="http://www.mechanicalcat.net/tech/PyWeek/1">August 2005</a></li>
      </ul>

    <li class="headlink">
      <A href="/messages/">Discussion</a>
    </li>

    <li class="headlink">
      {% if not user.is_authenticated  %}
       <span>Not logged in</span>
       <ul>
       <li><a href="/login/">Login</a></li>
        {% for one in all reversed %}
         {% if forloop.first %}
          {% if one.isRegoOpen %}
           <li><a href="/register/">Register</a></li>
          {% endif %}
         {% endif %}
        {% endfor %}

      {% else %}
       <A href="/profile/">Your Account</A>
       <ul>

       {% if challenge %}
        {% if not challenge.isCompFinished %}
         <li><a href="/{{ challenge.number }}/entry_add/">Register Entry</a></li>
        {% endif %}
       {% endif %}

       {% if user_entries %}
        <li><strong>Your Entries:</strong></li>
        {% for e in user_entries %}
          <li><a href="/e/{{e.name}}/">{{e.challenge_id}}) {{e.name}}</a></li>
        {% endfor %}
       {% endif %}
        <li>&nbsp;</li>
        <li><a href="/logout/">Logout</a></li>

      {% endif %}

      </ul>
    </li>

    <li class="headlink">
      <a href="/s/rules">About</a>
      <ul>
       <li><a href="/s/rules">Rules</a></li>
       <li><a href="/s/help">Help</a></li>
      </ul>
    </li>
  </ul>
 </div>-->

<div id="page">

{% block leftbar %}{% endblock %}

<div id="content">

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success">{{message}}</div>
{% endfor %}
{% endif %}

{% block content %}{% endblock %}


{% block leftbottom %}{% endblock %}

</div> <!-- content -->

</div> <!-- page -->


<SCRIPT type="text/javascript">
$(document).ready(function(){
        $('li.headlink').hover(
                    function() { $('ul', this).css('display', 'block'); },
                                function() { $('ul', this).css('display',
                                'none'); });
                                    });
</SCRIPT>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3679620-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>

