{% load gravatar %}
<div class="diary">
{% for p in diary_entries %}
    <h3>{{ p.title }}</h3>
    <p class="byline">
    {% gravatar p.user.email 40 %}
    <a href="/u/{{ p.user.username }}/">{{ p.user }}</a> on {{ p.created|date:"Y-m-d H:i" }}
    </p>

    <div class="diary-content">
    {{p.content|safe}}
    </div>

    <p class="view-comments">
        <a href="{{p.get_absolute_url}}">
            {% if not p.num_comments %}
                Add a comment
            {% else %}
                {{p.num_comments}} comment{{p.num_comments|pluralize}}
            {% endif %}
        </a>
    </p>
{% endfor %}
</div>


