{% if is_member %}
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/e/{{ entry.name }}/">Home</a></li>
            <li><a href="/e/{{ entry.name }}/diary/">Add Diary Entry</a></li>
            {% if entry.isUploadOpen %}
            <li><a href="/e/{{ entry.name }}/upload/">Upload File</a></li>
            <li><a href="/e/{{ entry.name }}/upload/">Add Screenshot</a></li>
            {% endif %}
            {% if is_owner %}
            {% if entry.is_open %}
            <li><a href="/e/{{ entry.name }}/members/">Membership Requests</a></li>
            {% endif %}
            <li><a href="/e/{{ entry.name }}/manage/">Manage This Entry</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
