
{% extends "base.html" %}

{% block title %}PyWeek - post message{% endblock %}

{% block scripts %}
    {% include "trumbowyg-scripts.html" %}
{% endblock %}

{% block content %}

<em>If you wish to post a team diary entry then please add it via your team's page.</em>

{% if form.has_errors %}
<div class="form-error">Sorry, there's been an error, see below:</div>
{% endif %}

<p>
<b>Add Message</b>

<form class="form" method="post" action=".">

 {{ form.as_plain }}

<input type="submit" name="save" value="Save">
</form>

</p>

{% endblock %}

{% block leftbar %}{% include "entry_nav.html" %}{% endblock %}

