{% extends "base.html" %}

{% block title %}PyWeek - Message Board{% endblock %}

{% block leftbottom %}

{% endblock %}

{% block content %}

<p style="float: right; margin-top: 10px">
    <a href="{% url "diary_feed" %}"><img src="/static/feed.png" alt="Atom Feed" /></a>
    <a class="btn btn-default" href="/message_add/"><span class="glyphicon glyphicon-plus"></span> New Thread</a>
</p>

<h2 style="margin-bottom: 1em">Discussion Threads</h2>

{% for entry in diary_entries %}
<div class="diary-entry">
    <h3>{% if entry.sticky %}<span class="label label-default">Sticky</span> {% endif %}<b><a href="/d/{{ entry.id }}/{%if entry.commid%}#comment-{{entry.commid}}{%endif%}">{% if entry.title %}{{ entry.title }}{% else %}[no title]{% endif %}</a></b></h3>
    <p>by <a href="/u/{{ entry.originator }}/">{{ entry.originator }}</a> {{ entry.date }} {% if entry.reply_count %}({{ entry.reply_count }} replies){% endif %}</p>
</div>
{% endfor %}

<table width="100%" id="pagination">
<tr><td align="left">
{% if prev %}
<a class="button" href="/messages/?start={{ prev }}">&lt;&lt; Previous</a>
{% endif %}
</td><td align="center">Page:
{% if more_start %}<a class="button" href="/messages/?start=0">first</a> ...{% endif %}
{% for page in pages %}
{% if page.current %}
<span>{{ page.num }}</span>
{% else %}
<a class="button" href="/messages/?start={{ page.start }}">{{ page.num }}</a>
{% endif %}
{% endfor %}
{% if more_end %}... <a class="button" href="/messages/?start={{ last }}">last</a>{% endif %}
</td><td align="right">
{% if next %}
<a class="button" href="/messages/?start={{ next }}">Next &gt;&gt;</a>
{% endif %}
</td></tr>
</table>
{% endblock %}
