<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.10.0/trumbowyg.min.js" integrity="sha256-VBPq2huFnLqr2pLznEQnmgYAvJ9FnPJnd7yCzDAJi4c=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.10.0/plugins/preformatted/trumbowyg.preformatted.min.js" integrity="sha256-4INuueXnOHpyb0f+9/jUlenk9eUK84m7CTXQQrTrmOM=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.10.0/ui/trumbowyg.min.css" integrity="sha256-47SUgOWFTAjhNC6wVnQQZlf34IbB4U1UuCQG3D0A3ug=" crossorigin="anonymous" />
    <script>
jQuery(function ($) {
    $('textarea').trumbowyg({
        semantic: false,
        removeformatPasted: true,
        autogrow: true,
        btns: [
            ['viewHTML'],
            ['formatting'],
            ['strong', 'em', 'preformatted'],
            ['link'],
            ['insertImage'],
            ['unorderedList', 'orderedList'],
            ['removeformat'],
            ['fullscreen']
        ]
    });
});
    </script>

