@font-face {
    font-family: RosesAreRed;
    src: url(roses-are-ff0000.woff) format('woff');
}

body {
	margin-top: 20px;
	padding: 0px;
	font-family: sans-serif;
	color: #212121;
	background: white;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-family: RosesAreRed;
    color: #589cbb;
    text-shadow:
        1px 1px #2d5a6e,
        1px -1px #2d5a6e,
        -1px 1px #2d5a6e,
        -1px -1px #2d5a6e;
}

section h3 {
    font-family: RosesAreRed;
    font-size: 120%;
}

/* Header */

#header {
	width: 750px;
	height: 150px;
	margin: 0px auto;
    padding-top: 3px;
	background: #ccc;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header a {
	text-decoration: none;
	color: black;
}

#logo {
    margin-top: -8px;
}

#menu {
    clear: both;
    z-index: 10;
}

/* Page */

#page {
    max-width: 960px;
    margin: 80px auto 0;
}

/* Content */

#content {
    padding: 10px;
    background: white;
}

#footer {
	clear: both;
	height: 100px;
	margin: 0px auto 30px auto;

    /*
    float: left;
    width: 750px;
    margin: 0px;
    */
    text-align: center;
    padding-top: 1em;
    font-size: 80%;
}

#motd {
    clear: both;
    border: thin solid #B399FF;
    background: #E1F1FC;
    padding: 20px;
    border-radius: 10px;
    margin: 1em 0;
}

#motd p:first-child {
    margin-top: 0px;
}
#motd p:last-child {
    margin-bottom: 0px;
}

form.form {
    padding: 5px;
}

form label {
    font-weight: bold;
}

.form-label {
    text-align: right;
    vertical-align: top;
    width: 12em;
    padding-right: 2px;
}

#ratings_nonworking ul {
    margin-top: 0px;
    padding-left: 2px;
}

#ratings_nonworking li {
    display: block;
    list-style: none;
    float: left;
}

span.prize {
    display: block-inline;
    padding-left: 24px;
    padding-right: 4px;
    padding-bottom: 16px;
    background-repeat: no-repeat;
    background-position: left top;
    line-height: 22px;
}
span.gold {
    background-image: url('gold.png');
}
span.silver {
    background-image: url('silver.png');
}
span.bronze {
    background-image: url('bronze.png');
}

ul.errorlist {
    margin: 0 0 0.3em 10em;
    list-style-type: square;
    padding: 2px;
    color: #A00;
}
ul.errorlist li {
}

.form-error {
    margin-top: 0.3em;
    color: red;
}

.helptext,
.form-help {
    display: block;
    margin-top: 0.3em;
    font-size: 80%;
    color: #666;
}

ul.messages {
    border: thin solid green;
    background: lightgreen;
    margin: 1em;
    padding: 5px;
    list-style-type: none;
}

.diary-entry {
    margin: 0.8em 0;
    clear: both;
}

.diary-entry h3 {
    display: inline;
    font-size: 120%;
    font-weight: bold;
}

.diary-entry p {
    display: inline;
}

div.diary-comment {
    margin-bottom: 0.5em;
    border: thin solid #ddd;
    padding: 0.6em 0.8em;
    border-radius: 5px;
}

textarea#id_content,textarea#id_comment {
    width: 100%;
    height: 15em;
}

table.form {
    width: 100%;
}

p.diary-byline {
    margin: 0 0 1em;
    padding: 0 0 5px;
    font-weight: bold;
    border-bottom: thin dashed #ddd;
}

table#files {
    border: thin solid gray;
    border-collapse: separate;
    border-spacing: 0px 0px;
}
table#files th {
    text-align: left;
    font-weight: bold;
    background: #e0e0e0;
    border-bottom: thin solid gray;
}
table#files td {
    padding-right: 1em;
}
table#files tr.odd td {
    background: #e0e0e0;
}
.winner {
    font-weight: bold;
}

table.grid {
    clear: none !important;
    border: thin solid silver;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    width: 100%;
    margin: 1em 0;
}

table.grid.auto {
    width: auto;
}

table.grid th,
table.grid td {
    padding: 0.4em 0.7em;
}

table.grid th.section {
    text-align: center;
}

table.grid tr + tr td {
    border-bottom: solid #eee 1px;
}
table.grid tr:last-child td {
    border-bottom: none;
}

table.grid th {
    text-align: left;
    font-weight: normal;
    background: #eefafa;
    color: black;
    border: thin solid #cdf;
    border-left-style: dotted;
    border-right-style: none;
}

table#top-entries {
    width: 100%;
    margin-bottom: 1.5em;
}
table#top-entries td {
	vertical-align: top;
	padding-bottom: 0.5em;
}
table#top-entries th {
	text-align: left;
	font-weight: bold;
	padding-bottom: 0.5em;
}

#pagination {
       background-color: #F3F3F3;
       margin-top:1em;
       padding:0.4em;
       text-align:right;
       font-size: 90%;
}

#pagination span {
       background-color: #0162BE;
       color: white;
       margin: .1em;
       padding-left: 2px;
       padding-right: 2px;
}

a.button {
       text-decoration: none;
       color: #0162BE;
       border: thin solid #0162BE;
       margin: .1em;
       padding-left: 2px;
       padding-right: 2px;
}
a.button:visited {
       color: #0162BE;
}

a.button:hover {
       background-color: white;
       color: blue;
       text-decoration: none;
}


table#timetable {
    border-collapse: separate;
    border-spacing: 0px 0px;
}
table#timetable th {
    text-align: left;
    font-weight: bold;
    background: #e0e0e0;
}
table#timetable td {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2px;
    padding-top: 2px;
    border-left: thin solid gray;
    border-top: thin solid gray;
}
table#timetable td:first-child {
    border-left: none;
}
table#timetable tr.active td {
    font-weight: bold;
}
table#timetable tr.done td {
    text-decoration: line-through;
}

div#thumb  {
    border: thin solid gray;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
div#thumb p {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    background: white;
    text-align: center;
}

b.delete, a.delete[href] {
    white-space: pre;
    color: red;
    cursor: pointer;
    padding-left:12px;
    background:url(/static/admin/img/icon_deletelink.gif) 0 .25em no-repeat;
    text-decoration:none;
}

a.add[href] {
    white-space: pre;
    color: green;
    cursor: pointer;
    padding-left:12px;
    background:url(/static/admin/img/icon_addlink.gif) 0 .25em no-repeat;
    text-decoration:none;
}

a.edit[href] {
    white-space: pre;
    color: blue;
    cursor: pointer;
    padding-left:12px;
    background:url(/static/admin/img/icon_changelink.gif) 0 .25em no-repeat;
    text-decoration:none;
}

dl#entry-list dt {
    font-weight: bold;
}
dl#entry-list dd {
    margin-bottom: 1em;
}

.entry-description {
   display: block;
   width: 570px;
   overflow: auto;
}

#ratings_nonworking ul {
  list-style-type: none;
}

.small {
    font-size: 75%;
}

.award {
    display: inline-block;
    text-align: center;
    margin: 4px;
    width: 128px;
    /* height: 128px; */
    overflow: hidden;
    border: outset #ddd 1px;
    padding: 15px 5px;
    border-radius: 4px;
    vertical-align: top;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.award em {
    font-size: 80%;
}


#cssdropdown {
    font-size: 90%;
}
#cssdropdown, #cssdropdown ul {
    list-style: none; display: block;
    z-index:10;
}
#cssdropdown, #cssdropdown * {
    padding: 0;
    margin: 0;
}
#cssdropdown li.headlink {
    width: 150px;
    float: left;
    background-color: #ccc;
    text-align: center;
}
#cssdropdown li.headlink li {
    margin-top: 4px;
    margin-bottom: 4px;
}
#cssdropdown li.headlink li:first-child {
    margin-top: 0px;
}
#cssdropdown li.headlink li:last-child {
    margin-bottom: 0px;
}
#cssdropdown li.headlink > a { display: block; padding: 5px; }
#cssdropdown li.headlink > span { display: block; padding: 5px; }

#cssdropdown li.headsummary {
    text-align: center;
    width: 750px;
    float: left;
    background-color: #ccc;
    /* color: white; */
}

/* Child lists and links */
#cssdropdown li.headlink ul {
    padding: 5px;
    display: none;
    text-align: left;
    width: 140px;
    /* margin: 0px -1px;
    border: 1px #dab74d solid; */
    background-color: #ccc;
    /* color: white; */
}
#cssdropdown li.headlink:hover ul {
    display: block;
    position:absolute;
}
#cssdropdown a:hover {
    text-decoration: none;
    color: #659dd7;
}


/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 6253 2010-03-02 00:24:53Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

/* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: left }

/* div.align-center * { */
/*   text-align: left } */

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block {
  margin-left: 2em ;
  margin-right: 2em }

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }

.entry {
    margin: 1.5em 0;
}

.entry img {
    float: left;
    margin-right: 10px;
}

.entry .details {
    margin-left: 170px;
}

.entry .details h3 {
    margin-top: 0;
}

.nav.nav-tabs {
    margin-bottom: 1em;
}

.entry ul li {
    list-style: square;
}

#entry-description {
    margin: 1em 170px 1em 0;
}

#latest-screenshot {
    float: right;
    margin-top: 2em;
    margin-left: 20px;
    margin-bottom: 15px;
}

.byline {
    /*border-bottom: dotted silver 1px;
    padding-bottom: 0.5em;*/
    margin-bottom: 2.5em;
    margin-right: 170px;
}

.diary h4 {
    margin-top: 1.5em;
}

.diary .byline {
    margin-bottom: 1.5em;
}

.diary-content {
    margin: 1.5em 0;
}

.diary-content img {
    max-width: 100%;
}

.paginator {
    margin-top: 2em;
}

.paginator .next-page {
    float: right;
}

#flash {
	text-align: center;
	border-top: solid #ec8 1px;
	border-bottom: solid #ec8 1px;
background-color: #ffe6c0;
padding: 0.3em;
}

a:not(*[class]):visited {
	color: #8b42ca;
}

.nav.nav-tabs a {
	color: #555;
}

.carousel-inner .item {
    height: 480px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-caption {
    font-size: 30px;
    text-shadow: 0 0 5px black, 1px 1px 0 black;
}

.carousel-indicators {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 200px;
    margin-left: -8%;
    padding: 5px;
    bottom: 5px;
}

.carousel-indicators li {
    vertical-align: -2px;
}

#content img {
    max-width: 100%;
}

.user_rating {
    padding: 1em 0;
}

.user_rating + .user_rating {
    border-top: 1px dotted #bbb;
}

.user_rating h4 {
    font-size: 18pt;
    margin: 0 0 0.5em;
}

.user_rating .comment {
    clear: both;
}

.user_rating .rating_scores {
    float: right;
}

.rating_scores .k {
    color: #888;
    font-size: 12pt;
    margin-left: 1em;
}

.rating_scores .v {
    color: #3a738e;
    font-size: 18pt;
    font-style: italic;
}

.rating_scores .dq {
    color: #a00;
    font-size: 16pt;
    font-style: italic;
}

nav.navbar .gravatar {
    margin-top: -1em;
    margin-bottom: -1em;
}

section {
    margin-top: 3em;
}

#email-addresses {
    width: 50em;
}

#email-addresses td {
    padding: 4px;
}

#email-addresses .extra {
    padding-top: 1em;
}

.label {
    font-size: 100%;
}

.label + .label {
    margin-left: 5px;
}

form label.option {
    font-weight: normal;
}

form p label:not(.option) {
    display: inline-block;
    width: 10em;
}

li.endsection {
    border-bottom: dotted silver 1px;
}

li.sectiontitle {
    margin: 0.4em 1em;
    text-align: center;
}

#github-link::before,
#twitter-link::before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background: url(simple-icons/twitter.svg) no-repeat center center;
    color: white;
    vertical-align: middle;
    margin-right: 0.6em;
}

#github-link::before {
    background-image: url(simple-icons/github.svg);
}

article#bio {
    margin: 2em 0;
}

#timeline {
}

#timeline article {
    background-color: white;

    margin: 4px 0;
    overflow: hidden;
    border: solid silver 1px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#timeline datetime {
    float: right;
    color: silver;
}
