<p class="summary">Time is up! The
<a href="/{{ ev.params.challenge_number }}/">{{ ev.params.challenge_title }}</a> challenge has finished!</p>

<p>Here's what you have to do now:</p>

<ul>
    <li>Ensure you have a README file.
        If you used Python 2, make that clear; otherwise people will assume
        Python 3. Also detail other libraries you used (and their versions).
    </li>
    <li>Zip up your entry. Please include source code.
        Avoid creating a <a href="https://en.wiktionary.org/wiki/tarbomb">tarbomb</a> by ensuring all your files are in a subdirectory in the ZIP file.</li>
    </li>
    <li>Upload your entry using the entry page. Be sure to mark it as <strong>final</strong> or it will not count.</li>
    <li>Make sure your game title is correct.</li>
    <li>Add a description, including anything you want to the judges to know.</li>
    <li>Upload a representative screenshot. The last screenshot you upload will
        be shown on your entry page.</li>
</ul>
