<p class="summary">
{% if not ev.params.users %}Someone {% endif %}
{% for u in ev.params.users %}{% if not forloop.first and not forloop.last %},{% endif %}
{% if forloop.last and not forloop.first %} and {% endif %}
<a href="/u/{{ u }}">{{ u }}</a>{% endfor %}
pushed {{ ev.params.commits|length}} commit{{ ev.params.commits|length|pluralize }} to
<a href="https://github.com/{{ ev.params.repo }}/">{{ ev.params.repo }}</a> for
<a href="/e/{{ ev.params.name }}/">{{ ev.params.game }}</a>:
</p>

<ul class="commits">
    {% for commit in ev.params.commits|slice:":10" %}
    <li><a href="https://github.com/{{ ev.params.repo}}/commit/{{ commit.sha }}">{{ commit.sha|slice:":8"}}</a> {{ commit.msg }}</li>
    {% endfor %}
    {% if ev.params.commits|length > 10 %}
    <li>... and {{ ev.params.commits|slice:"10:"|length }} more</li>
    {% endif %}
</ul>

