{% load gravatar %}
<p class="summary">
<a href="/u/{{ ev.user }}">
    {% gravatar ev.user.email 40 %}
    {{ ev.user }}</a>
started a new discussion thread:
<a href="/d/{{ ev.target_id }}/">{{ ev.params.title }}</a>.
</p>

{% if ev.params.description %}
<div class="description">
    {{ ev.params.description|safe }}
</div>
{% endif %}
<p>
<a href="/d/{{ ev.target_id }}/">
{% if ev.params.description_truncated %}Read more and comment
{% else %}{% if ev.target.reply_count %}
{{ ev.target.reply_count }} comments{% else %}Add a comment{% endif %}
{% endif %}
</a>
</p>
