{% load gravatar %}
<p class="summary">
<a href="/u/{{ ev.user }}">
    {% gravatar ev.user.email 40 %}
    {{ ev.user }}</a>
of
<a href="/e/{{ ev.params.entry.name }}/">{{ ev.params.entry.title }}</a>
posted a new diary entry:
<a href="/d/{{ ev.target_id }}/">{{ ev.params.title }}</a>.
</p>

{% if ev.params.description %}
<div class="description">
    {{ ev.params.description|safe }}
</div>
{% endif %}
<p>
<a href="/d/{{ ev.target_id }}/">
    {% if request.user.is_authenticated %}
    {% if ev.params.description_truncated %}Read more / {% endif %}
{% if ev.target.reply_count %}{{ ev.target.reply_count }} comments{% else %}Add a comment{% endif %}
    {% else %}
    {% if ev.params.description_truncated %}Read more&emsp;{% endif %}
    {% if ev.target.reply_count %}{{ ev.target.reply_count }} comments{% endif %}
    {% endif %}
</a>
</p>
